.App {
  width: 1800px;
  height: 940px;
}

.header {
  height: 40%;
}

.content {
  height: 60%;
  display: flex; 
  flex-direction: row;
}

.sidebar {
  background-color: #ffffff;
  width: 20%;
  height: 100%;
}

.infocard {
  background-color: #EFEEEA;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}