@font-face {
    font-family: 'Cooper';
    src: local('Cooper'), url(./cooperl.ttf) format('truetype');
}

.info-card-container {
    width: 90%;
    height: 80%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-container {
    height: 80%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-text{
    width: 40%;
    height: 40%;
    margin: 10px;
    font-family: 'Cooper';
}

.title {
    font-size: 23px;
    margin-bottom: 0px;
}

.response {
    font-size: 30px;
    margin-top: 2px;
}