@font-face {
    font-family: 'Cooper';
    src: local('Cooper'), url(./cooperl.ttf) format('truetype');
}

.side-bar-container {
    height: 80%;
    padding-top: 63px;
    padding-left: 70px;
    overflow-y: scroll;
}

.side-bar-tab {
    font-family: 'Cooper';
    font-size: 23px;
    width: 80%;
    margin-bottom: 40px;
    color: #000;
    border: none;
    background-color: #ffffff;
    display: block;
    float: left;
    text-align: left;
}

button:hover {
    color: #007C89;
    cursor: pointer;
}

.active {
    color: #007C89;
    border: none;
    outline: none;
}